html, body {
    /*color: #636b6f;*/
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 80%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}


.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}

.btn-default {

    border-color: #2ca02c;
}
